name: Update-FontsData

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions: {}

jobs:
  Update-FontsData:
    name: Update-FontsData
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update-FontsData
        uses: PSModule/GitHub-Script@v1
        with:
          ClientID: ${{ secrets.NERDFONTS_UPDATER_BOT_CLIENT_ID }}
          PrivateKey: ${{ secrets.NERDFONTS_UPDATER_BOT_PRIVATE_KEY }}
          Script: scripts/Update-FontsData.ps1
          ShowInit: true
          Debug: true
          Verbose: true
